
.newFileContainer{
    margin-top: 20px;
    position: relative;
    margin: 0 10px;
}

.fileUploadLabel{
    background-color: rgba(192, 179, 59, 0.349);
    color: dimgrey;
    font-weight: 600;
    width: 130px;
    height: 20px;
    transition: all 0.1s ease-out;
    box-shadow: 0 0 5px 5px inset rgba(13, 15, 13, 0.089);
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &:hover{
        box-shadow: none;
        transition: all 0.1s ease-in;
        height: 22px;
        width: 133px;
        cursor: pointer;
    }
}

.fileUpload{
    display: none;
}